<ion-view title="Dashboard">
	<ion-content class="has-header padding">	
		<a ng-click="openLink('https://appsto.re/us/mN0d5.i')" href="#"  href="https://appsto.re/us/mN0d5.i" class="button button-full button-royal">Download the Pro App!</a><img src="img/sara.jpg"><p><a class="white" ng-click="openLink('http://www.drsarasolomon.com/privacy/')" href="#">Privacy Policy</a></p><p><a class="white" ng-click="openLink('http://www.drsarasolomon.com/terms-of-service/')" href="#" >Terms of Service</a></p>
	</ion-content>
</ion-view>